<div class="container">
  <h1 class="display-2 text-center mb-5">
    Bienvenidos, <strong class="fw-bold">Leonardo</strong>.
  </h1>

  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Tipo De Servicio</th>
          <!--<th scope="col">Precio</th>-->
          <th scope="col">Direccion</th>
          <th scope="col">Forma De Contacto</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of servicios$ | async">
          <th scope="row">{{ item.nombreserv }}</th>
          <td><span class="badge bg-warning"> {{ item.tipodeserv }}</span></td>
          <!--<td>$900<sup>/Mes</sup></td>-->
          <td>{{ item.ubicacion }}</td>
          <td>{{ item.formacontacto }}</td>
          <td>
            <div class="">
              <button
                type="button"
                class="btn btn-outline-success m-2"
                (click)="goToEditar(item)"
              >
                <img src="assets/icons/edit.svg" />Editar
              </button>
              <button
                type="button"
                class="btn btn-outline-warning m-2"
                (click)="goToVerDetalles(item)"
              >
                <img src="assets/icons/details.svg" />Ver Detalles
              </button>
              <button
                type="button"
                class="btn btn-outline-danger m-2"
                (click)="goToEliminar(item.id)"
              >
                <img src="assets/icons/delete.svg" />Eliminar
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
