<div class="container">
  <h1 class="display-2 text-center mb-5">
    Bienvenidos, <strong class="fw-bold">Leonardo</strong>.
  </h1>

  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Tipo De Servicio</th>
          <th scope="col">Precio</th>
          <th scope="col">Ubicacion</th>
          <th scope="col">Forma De Contacto</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of [0, 1, 2]">
          <!--la tr se va a repetir 4 veces-->
          <th scope="row">Hotel Cipolletti</th>
          <td><span class="badge bg-warning">Hoteleria</span></td>
          <td>$900<sup>/Mes</sup></td>
          <td>25 de mayo 181</td>
          <td>me@mail.com</td>
          <td>
            <div class="">
              <button
                type="button"
                class="btn btn-outline-success m-2"
                (click)="goToEditar(item)"
              >
                Editar
              </button>
              <button
                type="button"
                class="btn btn-outline-warning m-2"
                (click)="goToVerDetalles(item)"
              >
                Ver Detalles
              </button>
              <button
                type="button"
                class="btn btn-outline-danger m-2"
                (click)="goToEliminar(item)"
              >
                Eliminar
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
