<div class="containter">
  <div class="mb-5">
    <h4 class="mb-3 display-4 fw-bold text-center">
      ¿Como usar Cipolletti Host<sup style="font-size: 2rem">Admin</sup>?
    </h4>
    <p class="text-center">
      A continuacion en este video, presentado por el desarollador de esta
      pagina, te esenaremos a como administrar tus servicios:
    </p>
  </div>

  <div class="container-sm">
    <div class="d-flex justify-content-center ratio ratio-16x9">
      <iframe
        src="https://www.youtube.com/embed/4poqZjNTZjI?list=PLcKa-34z76PvI5KvI5S2JGj0RcBVuz3jg"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</div>
