<nav class="mb-5 navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand">
      <img
        src="assets/icons/hyt-logo-wh.svg"
        width="32"
        height="32"
        alt="hyt logo blanco"
      />
      Hoteleria y Turismo<sup style="font-size: 15px">Admin</sup>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarColor03"
      aria-controls="navbarColor03"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor03">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/list']">Lista</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/agregar']">Añadir</a>
        </li>
      </ul>
      <button class="btn btn-warning my-2 my-sm-0" type="submit">
        Salir De Sesion
        <img src="assets/icons/logout_black.svg" />
      </button>
    </div>
  </div>
</nav>
