<hr class="dropdown-divider" />
<div class="container d-flex justify-content-center">
  <div>
    <div
      *ngFor="let item of servicios$ | async"
      class="col card border-warning border-5 m-2"
      style="max-width: 40rem"
    >
      <div class="card-body row">
        <div class="col-5">
          <h4 class="card-title">{{ item.nombreserv }}</h4>
          <h5>
            <span class="badge bg-warning"> {{ item.tipodeserv }} </span>
          </h5>
          <p class="card-text"><sup>ARG</sup>${{ item.precio }}</p>
          <button
            type="button"
            class="btn btn-dark btn-sm"
            data-bs-toggle="modal"
            data-bs-target="#servicioModal2"
            (click)="cargarModal(item)"
          >
            Obtener Informacion
          </button>
          <!-- Modal -->
          <div
            class="modal fade"
            id="servicioModal2"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <img
                    width="30"
                    height="30"
                    src="assets/icons/hyt-logo-yellowgrad.svg"
                  />
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  <h1 class="card-title text-center">
                    {{ itemSeleccionado.nombreserv }}
                  </h1>
                  <ul class="list-group">
                    <li class="list-group-item">
                      Tipo de servicio:
                      <h5>
                        <span class="badge bg-warning">
                          {{ itemSeleccionado.tipodeserv }}
                        </span>
                      </h5>
                    </li>
                    <li class="list-group-item">
                      Precio:
                      <h5><sup>ARG</sup>${{ itemSeleccionado.precio }}</h5>
                    </li>
                    <li class="list-group-item">
                      Direccion:
                      <h5>{{ itemSeleccionado.ubicacion }}</h5>
                    </li>
                    <li class="list-group-item">
                      Forma de contactar:
                      <h5>{{ itemSeleccionado.formacontacto }}</h5>
                    </li>
                    <li class="list-group-item">
                      Descripcion:
                      <h5>{{ itemSeleccionado.descripcion }}</h5>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <img
            width="500"
            src="assets/fake-data/hotel-3.jpg"
            alt="imagen de servicio hotelero"
          />
        </div>
      </div>
    </div>
  </div>
</div>
<hr class="dropdown-divider" />
