<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-2 fw-bold">
    Conoce y comparte lo indispensable de hoteleria y turismo
  </h1>
  <div class="mx-auto">
    <p class="lead mb-4">
      Con ayuda de la camara de comercio, te ayudamos a satisfacer tus deseos
      hoteleros y turisticos en nuestro pais de Argentina.
    </p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <button type="button" class="btn btn-warning btn-lg px-4 gap-3">
        Explora mas
      </button>
    </div>
  </div>
</div>
