<div class="container">
  <div class="row">
    <div class="col-md-12">
      <!-- HERO -->
      <div class="px-4 py-5 mb-5 text-center">
        <h1 class="display-2 fw-bold">
          Conoce y comparte lo indispensable de las nuevas experiencias
        </h1>
        <div class="mx-auto">
          <p class="lead mb-4">
            Con ayuda de la camara de comercio, te ayudamos a satisfacer tus
            deseos hoteleros y turisticos en Cipolletti.
          </p>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button
              type="button"
              class="btn btn-warning btn-lg px-4 gap-3"
              [routerLink]="['/servicios']"
            >
              Explora mas
            </button>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <img src="assets/location_city.png" alt="icono-edificio" />
          <h1 class="display-5">Conoce de Cipolletti</h1>
        </div>
        <div class="col">
          <img src="assets/img-inicio-1.png" alt="paisaje de Cipolletti" />
        </div>
      </div>

      <div class="row mt-5">
        <div class="col">
          <img src="assets/fake-data/ejemplo.jpg" alt="paisaje hotel 2" />
        </div>
        <div class="col">
          <div class="d-flex justify-content-end">
            <img src="assets/attach_money.png" alt="icono-dinero" />
          </div>
          <div class="text-end">
            <h1 class="display-5">Explora las mejores ofertas</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col"></div>
<div class="bg-dark text-white my-5 p-5">
  <h1 class="text-center display-5 fw-bold">
    ¿Estas listo para conocer y compartir lo indispensable?
  </h1>
  <button
    type="button"
    class="mt-5 d-flex btn btn-warning btn-lg mx-auto"
    [routerLink]="['/servicios']"
  >
    Explora mas
  </button>
</div>

<div class="container">
  <div class="px-4 py-5 my-5 text-center">
    <img src="assets/money100.png" />
    <h1 class="display-3">
      ¿Eres vendedor de servicios hoteleros o turísticos?
    </h1>
    <div class="mx-auto">
      <p class="lead mb-4">
        Este es tu lugar perfecto para promocionar sus servicios y ganar mas
        clientes de lo que esperas. Contacte al desarollador de esta pagina web
        para crearte una cuenta.
      </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a
          type="button"
          class="btn btn-warning btn-lg px-4 gap-3"
          href="mailto: gzilli01@hotmail.com"
        >
          Contactar
        </a>
      </div>
    </div>
  </div>
  <!---->
</div>
