<div class="container">
  <div class="col-md-12">
    <!-- HERO -->
    <div class="px-4 py-5 mb-5 text-center">
      <h1 class="display-3">
        Desarollado por una escuela con una especialidad unica
      </h1>
      <div class="mx-auto">
        <p class="lead mb-4">
          Con ayuda de la camara de comercio, te ayudamos a satisfacer tus
          deseos hoteleros y turisticos en nuestro pais de Argentina.
        </p>
      </div>
    </div>
  </div>
  <img src="assets/about/img-cet30.jpg" alt="Foto de cet30 escuela" />
  <img src="assets/about/logo-cet30.png" alt="logo de cet30" />
  <img
    src="assets/about/cic-logo.jfif"
    alt="logo de camara de comercio cipolletti"
  />
</div>
