<div class="container">
  <div class="col-md-12">
    <div class="px-4 py-5 mb-5 text-center">
      <h1 class="display-3">
        Desarollado por una escuela con una especialidad unica
      </h1>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <img
      width="3000"
      src="assets/about/img-cet30.jpg"
      alt="Foto de cet30 escuela"
    />

    <div class="mx-auto">
      <p class="lead mx-2">
        La escuela Centro de Educacion Tecnica N°30 (CET30) es una escuela con
        especialidad en programacion. Llevo a cabo un proyecto de un catalogo de
        ventas para cada estudiar de 6to año en el 2021, para que no solo
        fortalezcan sus conocimiento en programacion web, sino ofrecer un
        producto a la camara de comercio de Cipolletti.
      </p>
    </div>
  </div>
  <div class="d-flex justify-content-center row m-5">
    <img class="col-2" src="assets/about/logo-cet30.png" alt="logo de cet30" />
    <img
      class="col-2"
      src="assets/about/cic-logo.jfif"
      alt="logo de camara de comercio cipolletti"
    />
  </div>

  <div class="d-flex justify-content-center">
    <img
      src="assets/pfp-gz.jpg"
      class="w-25 img-thumbnail img-fluid"
      alt="foto de perfil giulianno zilli"
    />
  </div>
  <div class="d-flex justify-content-center">
    <p class="d-block lead w-50 text-center">
      Esta applicacion web fue hecho por Giulianno Zilli de manera individual,
      con la ayuda de Franco paredes en la documentacion de este proyecto.
    </p>
  </div>
</div>
