<footer class="row mt-5">
  <div class="py-5 col bg-dark text-white">
    <div class="d-flex justify-content-center align-text-bottom">
      <img
        class="align-top"
        src="assets/icons/hyt-logo-wh.svg"
        width="60"
        height="60"
      />
      <h1 class="display-6 fw-bold ms-3">Cipolletti Host</h1>
    </div>
    <div class="d-flex justify-content-center">
      <button
        type="button"
        class="text-white btn btn-link"
        [routerLink]="['/servicios']"
      >
        Servicios
      </button>
      <button
        type="button"
        class="text-white btn btn-link"
        [routerLink]="['/casosdeexito']"
      >
        Casos De Exito
      </button>
      <button
        type="button"
        class="text-white btn btn-link"
        [routerLink]="['/about']"
      >
        Acerca De Nosotros
      </button>
    </div>
    <p class="text-center mt-3">@2021 CipollettiHost</p>
  </div>
  <div class="py-5 col bg-warning">
    <h1 class="display-6 text-center">
      Desarollado por <b>Giulianno Zilli</b>
    </h1>
    <div class="mt-4 d-flex justify-content-center">
      <a
        data-bs-toggle="tooltip"
        data-bs-placement="bottom"
        title="@giuldzap"
        href="https://www.instagram.com/giuldzap/"
        target="_blank"
      >
        <img
          src="assets/icons/025-instagram.svg"
          alt="instagram"
          width="40"
          height="40"
          class="m-2"
        />
      </a>
      <a
        data-bs-toggle="tooltip"
        data-bs-placement="bottom"
        title="Giulianno Zilli"
        href="https://www.facebook.com/profile.php?id=100009020558166"
        target="_blank"
      >
        <img
          src="assets/icons/021-facebook.svg"
          alt="facebook"
          width="40"
          height="40"
          class="m-2"
        />
      </a>
      <a
        data-bs-toggle="tooltip"
        data-bs-placement="bottom"
        title="Giulianno Valentino Zilli"
        href="https://www.linkedin.com/in/giulianno-valentino-zilli-6507a6189/"
        target="_blank"
      >
        <img
          src="assets/icons/045-linkedin.svg"
          alt="linkedin"
          width="40"
          height="40"
          class="m-2"
        />
      </a>
    </div>
  </div>
</footer>
