<div class="container">
  <div class="card mt-2">
    <div class="card-header">Detalles Del Servicio</div>
    <div class="card-body">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Nombre del servicio:
          <h5>{{ servicio.nombreserv }}</h5>
        </li>
        <li class="list-group-item">
          Tipo de servicio:
          <h5><span class="badge bg-warning"> {{ servicio.tipodeserv }} </span></h5>
        </li>
        <li class="list-group-item">
          Precio:
          <h5>{{ servicio.precio }}</h5>
        </li>
        <li class="list-group-item">
          Direccion:
          <h5>{{ servicio.ubicacion }}</h5>
        </li>
        <li class="list-group-item">
          Forma de contactar:
          <h5>{{ servicio.formacontacto }}</h5>
        </li>
        <!--
        <li class="list-group-item">
          Imagen:
          <h5><img class="w-25" src="assets/fake-data/hotel-1.jpg" /></h5>
        </li>
        -->
        <li class="list-group-item">
          Descripcion:
          <h5>{{ servicio.descripcion }}</h5>
        </li>
      </ul>
    </div>
    <div class="btn-group">
      <button
        type="button"
        class="btn btn-outline-success m-1"
        (click)="goToEditar()"
      >
        <img src="assets/icons/edit.svg" />Editar
      </button>
      <button
        type="button"
        class="btn btn-outline-danger m-1"
        (click)="goToEliminar()"
      >
        <img src="assets/icons/delete.svg" />Eliminar
      </button>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <button
      type="button"
      class="btn btn-outline-dark my-3 btn-sm"
      (click)="volverLista()"
    >
      <img src="assets/icons/arrow_right_alt.svg" />Volver a la lista
    </button>
  </div>
</div>
<!--{{ balue | json }}-->
