<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-3">¿Que piensan los clientes de esta pagina?</h1>
</div>
<div class="row d-flex justify-content-center">
  <div *ngFor="let item of [0, 1, 2, 3]" class="card mt-5 mx-3 w-25">
    <div class="card-body">
      <blockquote class="card-text">
        "This website should be nominated for service of the year. The service
        was excellent."
      </blockquote>
    </div>
    <div class="card-body bg-dark text-white">
      <h5 class="card-title fw-bold">Leonardo</h5>
      <h6 class="card-subtitle">CEO de Rafflesia</h6>
    </div>
  </div>
</div>
