<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-3">¿Que piensan los clientes de esta pagina?</h1>
</div>

<div class="row">
  <div class="col d-flex justify-content-center">
    <div class="card mt-5 mx-3 w-50 h-75">
      <div class="card-body">
        <blockquote class="card-text">
          "Este sitio web debe ser nominado para el servicio del año. El
          servicio fue excelente."
        </blockquote>
      </div>
      <div class="card-body bg-dark text-white">
        <h6 class="card-subtitle">Cliente anonimo de Rafflesia</h6>
      </div>
    </div>
  </div>
  <div class="col d-flex justify-content-center">
    <div class="card mt-5 mx-3 w-50 h-75">
      <div class="card-body">
        <blockquote class="card-text">
          "¡Esto es simplemente increíble! Ya hemos visto resultados asombrosos.
          No puedo decir lo suficiente sobre CipollettiHost".
        </blockquote>
      </div>
      <div class="card-body bg-dark text-white">
        <h6 class="card-subtitle">Cliente anonimo de Hotel Ludman</h6>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <div class="card mt-5 mx-3 w-25">
      <div class="card-body">
        <blockquote class="card-text">
          "¡Absolutamente maravilloso! CipollettiHost es el recurso comercial
          más valioso que NUNCA hemos comprado".
        </blockquote>
      </div>
      <div class="card-body bg-dark text-white">
        <h6 class="card-subtitle">Cliente anonimo de Hotel Cipolletti</h6>
      </div>
    </div>
  </div>
</div>
