<main class="container my-5">
  <h1 class="mb-3 display-2 fw-bold text-center">Contactenos</h1>

  <div class="d-flex justify-content-center">
    <form class="col-md-6">
      <div class="form-floating">
        <!--(submit)="onLogin()"-->
        <!--[(ngModel)]="password"-->
        <!--[ngModelOptions]="{ standalone: true }"-->
        <input
          type="name"
          class="form-control"
          placeholder="Juan Perez"
          required
        />
        <label for="floatingInput">Nombre y Apellido</label>
      </div>
      <div class="form-floating">
        <input
          type="email"
          class="form-control"
          placeholder="example@gmail.com"
        />
        <label for="floatingPassword">Correo Electronico</label>
      </div>
      <!--formControlName?-->
      <div class="form-group mb-3">
        <textarea
          class="form-control"
          aria-label="With textarea"
          placeholder="Envianos tu mensaje"
          required
        ></textarea>
      </div>

      <button
        class="d-flex justify-content-center mx-auto w-50 btn btn-lg btn-dark"
        type="submit"
      >
        Conctactar
        <div class="ms-2">
          <img src="assets/icons/contact_mail_white.svg" alt="conacto icono" />
        </div>
      </button>
    </form>
  </div>
</main>
